# ==========================
# Developer Tools
# ==========================
ipdb==0.13.13
ipython==8.29.0
mkdocs==1.6.1
flake8==7.1.1

# ==========================
# Testing
# ==========================
mock==5.1.0
factory-boy==3.3.1
pytest-django==4.9.0
coverage==7.6.8